<% provide(:title, "Sign in") %>
<%= form_for(:session, url: sessions_path) do |f| %>
<h1>Sign in</h1>
  <fieldset>
  <legend>Please Sign in</legend>    
      <div class="control-group">
        <%= f.label :email, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :email, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :password, :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password, :class => 'text_field' %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit "Sign in", :class => 'btn btn-primary' %>
        <%= link_to "cancel", root_path, :class => 'btn' %>
      </div>
    </fieldset>
<% end %>
  