<% provide(:title, 'Usuários') %>

<div class="page-header">
  <h1>Usuários</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
          <th><%= link_to "Id", users_path(sort: "id")%></th>
          <th><%= link_to "Usuário", users_path(sort: "name")%></th>
          <th><%= link_to "E-mail", users_path(sort: "email")%></th>
          <th><%= link_to "Criado em", users_path(sort: "created_at")%></th>
          <th>Ações</th>
        </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.id, user_path(user) %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime('%d/%m/%Y')  %></td>
          <td>
            <%= link_to "Mostrar", user, class: 'btn btn-mini' %>
            <% if current_user.admin? && !current_user?(user) %>
              <%= link_to "Editar", edit_user_path(user), class: 'btn btn-mini' %>
              <%= link_to "Deletar", user, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-mini btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>

<%= link_to "Novo", new_user_path, class: 'btn btn-primary' %>