<% provide(:title, 'All users') %>
<h1>All users</h1>

<table class="table table-striped">
    <thead>
        <tr>
          <th>show</th>
          <th>id</th>
          <th>user</th>
          <th>e-mail</th>
          <th>created at</th>
          <th>actions</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.id, user_path(user) %></td>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at %></td>
            <td>
                <% if current_user.admin? && !current_user?(user) %>
                    <%= link_to "edit", edit_user_path(user), class: 'btn btn-mini' %>
                    <%= link_to "destroy", user, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-mini btn-danger" %>
                <% end %>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>