<%= form_for @customer do |f| %>  
  <fieldset>
  <legend>Personal Data</legend>
  <%= render 'customer_error_messages' %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group form-inline">
    <%= f.label :gender, :class => 'control-label' %>
    <div class="controls">
      <%= f.radio_button :gender, 'male' %>
      <%= f.label :Male %>
      <%= f.radio_button :gender, 'female' %>
      <%= f.label :Female %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cpf, 'CPF', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cpf, id: 'cpf', :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
    <%= f.label :birth_date, 'Date of Birth', :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :birth_date,
        {:order => [:day, :month, :year], :use_short_month => true, :start_year => Date.today.year - 90, :end_year => Date.today.year, :prompt => { :day => 'day', :month => 'month', :year => 'year' }},
        {:class => "input-mini"}
      %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "cancel", customer_path(@customer), :class => 'btn' %>
  </div>
  </fieldset>
<% end %>