<% provide(:title, 'Clientes') %>

<div class="page-header">
  <h1>Clientes</h1>
</div>


<table class="table table-striped">
    <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Sexo</th>
          <th>Data de Nascimento</th>
          <th>Ações</th>
        </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= link_to(customer.id, customer) %></td>
          <td><%= customer.full_name %></td>
          <td><%= customer.gender %></td>
          <td><%= customer.birth_date %></td>
          <td>
              <%= link_to "Mostar", customer, class: 'btn btn-mini' %>
              <%= link_to "Editar", edit_customer_path(customer), class: 'btn btn-mini' %>
              <%= link_to "destroy", customer, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-mini btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>

<%= link_to "Novo", new_customer_path, class: 'btn btn-primary' %>