<%= form_for(@company) do |f| %>
  <fieldset>
  <legend>Company Data</legend>
  <%= render 'company_error_messages' %>
  <div class="control-group">
    <%= f.label :company_name, :class => 'control-label' %>
    <div class="controls"> 
      <%= f.text_field :company_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :trading_name, :class => 'control-label' %>
    <div class="controls"> 
      <%= f.text_field :trading_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cnpj, 'CNPJ', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cnpj, id: 'cnpj', :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "cancel", company_path(@company), :class => 'btn' %>
  </div>
  </fieldset>
<% end %>
