<% provide(:title, 'Carrinho') %>

<div class="page-header">
  <h1>Lista de itens</h1>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Produto</th>
      <th>Preço</th>
      <th></th>
      <th>Quantidade</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.line_items.each do |item| %>
      <tr>
        <td><%= item.product.category.name %></td>
        <td><%= item.product.title %></td>
        <td><%= number_to_currency(item.product.price) %></td>
        <td>&times;</td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.total_price) %></td>
        
      </tr>
    <% end %>

    <tr>
      <td colspan="5" class=""><strong>Total</strong></td>
      <td class="total_cell"><strong><%= number_to_currency(@cart.total_price) %></strong></td>
    </tr>
  </tbody>
</table>

<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>