<% provide(:title, 'Categorias') %>

<div class="page-header">
  <h1>Categorias</h1>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to(category.id, category) %></td>
        <td><%= category.name %></td>
        <td>
            <%= link_to "Mostrar", category, class: 'btn btn-mini' %>
            <%= link_to "Editar", edit_category_path(category), class: 'btn btn-mini' %>
            <%= link_to "Deletar", category, method: :delete, data: { confirm: "Você tem certeza?"}, class: "btn btn-mini btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Novo", new_category_path, class: 'btn btn-primary' %>
