<% provide(:title, @category.name) %>

<div class="page-header">
  <h1>Categoria: <small><%= @category.name %></small></h1>
</div>

<dl class="dl-horizontal">
  <fieldset>
    <legend>Dados categoria:</legend>
    <dt><strong>Id:</strong></dt>
    <dd><%= @category.id %></dd>
    <dt><strong>Nome:</strong></dt>
    <dd><%= @category.name %></dd>
  </fieldset>
  </br>
</dl>

<div class="form-actions">
    <%= link_to 'Voltar', categories_path, class: 'btn' %>
    <%= link_to "Editar", edit_category_path(@category), class: 'btn' %>
    <%= link_to "Deletar", @category, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-danger" %>
</div>
