<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all",
                                              "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">

          <% if signed_in? %>
            <%= render 'layouts/sidebar_cart' %>
          <% end %>
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="span9">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>" data-alert='alert'>
              <a class="close" data-dismiss='alert' href="#">×</a>
              <%= value %>
            </div>
          <% end %>
          <%= yield %>
          <br/><br/><%= debug(params) if Rails.env.development? %>
        </div>
      </div><!--/row-->
      <%= render 'layouts/footer' %>
  </body>
</html>
